@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  @apply mx-auto md:my-[4rem] my-0 md:rounded-md rounded-none md:border md:border-slate-300 md:dark:border-gray-700 bg-gray-100 dark:bg-gray-800;
  max-width: 800px;
}

.form-input,
.form-textarea {
  @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm;
}

h1,
h2 {
  @apply dark:text-white;
}

div > p {
  @apply text-gray-500 dark:text-gray-300;
}

.selection {
}

.description p {
  @apply my-4;
}

.description .list {
  @apply list-decimal pl-7 my-2;
}

.description .list li {
  @apply my-2;
}
